@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="navbar-nav ">
        <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello @User.Identity.GetUserName() !
            </a>
            <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                <a class="dropdown-item" href="@Url.Action("Index","Manage")">Thông tin</a>
                <a class="dropdown-item" href="@Url.Action("Order","Manage")">Đơn hàng</a>

                <div class="dropdown-divider"></div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "dropdown-item" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            </div>
        </li>
    </ul>

}
else
{
<div class="d-block">
    <a class="nav-link d-inline" href="@Url.Action("Register","Account")">Đăng ký</a>
    <div class="dropdown order-1 d-inline">
        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-primary dropdown-toggle">Đăng nhập <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="px-3 py-2">
               @Html.Partial("~/Views/Account/_Login.cshtml")
            </li>
        </ul>
    </div>
    @*<a class="btn btn-primary d-inline" href="@Url.Action("Login","Account")">Đăng nhập</a>*@
</div>
}

<script>
    function loginSuccess() {
       @if (Request.IsAuthenticated)
       {
           <text>window.location.assign("/")</text>
       }
    }
</script>