@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="navbar-nav ">
        <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello @User.Identity.GetUserName() !
            </a>
            <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                <a class="dropdown-item" href="#">Preferences</a>
                <div class="dropdown-divider"></div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "dropdown-item" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            </div>
        </li>
    </ul>

}
else
{
<div class="d-block">
    <a class="nav-link d-inline" href="@Url.Action("Register","Account")">Đăng ký</a>
    <div class="dropdown order-1 d-inline">
        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-primary dropdown-toggle">Đăng nhập <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="px-3 py-2">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()                       
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Email", "Địa chỉ email", new { @class = "col-md-9 control-label" })
                            <div class="col-md-10">
                                @Html.TextBox("Email","", new { @class = "form-control" })
                                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Password", "Mật khẩu", new { @class = "col-md-9 control-label" })
                            <div class="col-md-10">
                                @Html.Password("Password","", new { @class = "form-control" })
                                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBox("RememberMe")
                                    @Html.Label("Remember Me ?")
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Đăng nhập" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                        @*<p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>*@
                        @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
                    }
                </section>
            </li>
        </ul>
    </div>
    @*<a class="btn btn-primary d-inline" href="@Url.Action("Login","Account")">Đăng nhập</a>*@
</div>
}

