@model WebBanSach_2_0.Model.ResponseModels.AdminListProductResponse
@{
    ViewBag.Title = "Index";

    var pager = Model.Products.Pager;
    var categories = new SelectList(Model.Categories, "CategoryId", "CategoryName");
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Dashboard")">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">Quản lý</li>
    <li class="breadcrumb-item active">Sản phẩm</li>
</ol>
@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    @Html.Raw(ViewBag.StatusMessage)
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Quản lý sản phẩm
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8 col-md-4">
                <a href="@Url.Action("Detail")" id="btnCreate" class="btn btn-info" role="button">Tạo mới</a>
            </div>
            @using (Html.BeginForm("Index", "Product", FormMethod.Get, new { @class = "col-sm-12 col-md-8" }))
            {
                <div class="row">
                    <div class="col">
                        @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)categories, "Loại sản phẩm", new { @class = "form-control" })
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" name="search" class="form-control" value="@ViewBag.SearchString">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Thể loại</th>
                        <th>Hình ảnh</th>
                        <th>Giá bán</th>
                        <th>Tồn kho</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Thể loại</th>
                        <th>Hình ảnh</th>
                        <th>Giá bán</th>
                        <th>Tồn kho</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody id="dataTableBody">
                    @foreach (var item in Model.Products.Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Category.CategoryName</td>
                            <td><img src="@(!string.IsNullOrEmpty(item.Image) ? item.Image : "/img/noCover.jpg")" style="height:100px; width:90px;border: solid 1px" /></td>
                            <td>@(String.Format("{0:0,0}", item.Price)).đ</td>
                            <td>@item.AvailableQuantity</td>
                            <td>
                                <h5>
                                    @if (item.Status == true)
                                    {
                                        <span class="badge badge-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">InActive</span>
                                    }
                                </h5>
                            </td>
                            <td>
                                <a href="@Url.Action("Detail", new { @productId = item.NameAlias })" class="btn btn-outline btn-edit" data-page="0" data-id="@item.ProductId"><i class="fas fa-pencil-alt" style="color: blue"></i></a>
                                <a href="@Url.Action("EditAuthor", new { @productId = item.NameAlias })" class="btn btn-outline"><i class="fas fa-user-plus"></i></a>
                                <button class="btn btn-outline-light open-delete-modal" data-id="@item.ProductId" data-name="@item.Name">
                                    <i class="fas fa-fw fa-trash-alt" style="color: red"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                @{ Html.RenderPartial("_Pager", Model.Products.Pager); }
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("DeleteConfirmed", "Product"))
            {
                <div class="modal-body" id="modal-body">
                    @Html.AntiForgeryToken()
                    <input data-val="true" type="number" name="id" id="modelID" value="0" hidden />
                    <p><h4>Are you sure to delete <span class="text-danger" id="modelName"></span> ?</h4></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="deleteDetail">Delete</button>

                </div>
            }
        </div>
    </div>
</div>



@section scripts {
    <script>
        (function () {
            $("#content-wrapper").off('click', '.open-delete-modal').on('click', '.open-delete-modal', function () {
                $("#deleteModal").modal('show');
                $("#modelID").val($(this).data("id"));
                $("#modelName").html($(this).data("name"));
            });
        })();
    </script>
}