@model Pagination.IndexViewModel<AuthorVM>
@{
    ViewBag.Title = "Index";
    var pager = Model.Pager;
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Dashboard")">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">Quản lý</li>
    <li class="breadcrumb-item active">Chi tiết tác giả</li>
</ol>
@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    @Html.Raw(ViewBag.StatusMessage)
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Quản lý tác giả
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8 col-md-4">
                <a href="@Url.Action("Detail")" id="btnCreate" class="btn btn-info" role="button">Tạo mới</a>
            </div>

            <div class="col-sm-8 col-md-4">
                @using (Html.BeginForm("Index", "Author", FormMethod.Get))
                {
                    <div class="input-group mb-3">
                        <input type="text" name="search" class="form-control" value="@ViewBag.SearchString">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tác giả</th>
                        <th>Ngày khỏi tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Bởi</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tác giả</th>
                        <th>Ngày khỏi tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Bởi</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody id="dataTableBody">
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.CreateDate</td>
                            <td>@item.UpdatedDate</td>
                            <td>@item.UpdateBy</td>
                            <td>
                                <h5>
                                    @if (item.Status == true)
                                    {
                                        <span class="badge badge-success">Còn hàng</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Hết hàng</span>
                                    }
                                </h5>
                            </td>
                            <td>
                                @if (item.AuthorId != 1)
                                {
                                    <a href="@Url.Action("Detail", new { item.AuthorId })" class="btn btn-outline btn-edit" data-page="0" data-id="@item.AuthorId"><i class="fas fa-pencil-alt" style="color: blue"></i></a>
                                    <a href="@Url.Action("EditProduct", new { @authorId = item.AuthorId })" class="btn btn-outline"><i class="fas fa-book"></i></a>
                                    <button class="btn btn-outline-light open-delete-modal" data-id="@item.AuthorId" data-name="@item.Name">
                                        <i class="fas fa-fw fa-trash-alt" style="color: red"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">

                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <!-- pager -->
                    <ul class="pagination" id="paged">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("Index",new { @search = ViewBag.SearchString, @page = 1 })">First</a></li>
                            <li class="page-item"><a class="page-link" href="@Url.Action("Index",new { @search = ViewBag.SearchString, @page = pager.CurrentPage - 1 })"> Previous</a></li>
                        }
                        @for (int i = pager.StartPage; i <= pager.EndPage; i++)
                        {
                            if (i == pager.CurrentPage)
                            {
                                <li class="page-item active"><a class="page-link" href="@Url.Action("Index",new { @search = ViewBag.SearchString, @page = @i })">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index",new { @search = ViewBag.SearchString, @page = @i })">@i</a></li>
                            }
                        }
                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("Index",new { @search = ViewBag.SearchString, @page = pager.CurrentPage + 1 })"> Next</a></li>
                            <li class="page-item"><a class="page-link" href="@Url.Action("Index",new { @search = ViewBag.SearchString, @page = pager.TotalPages })"> Last</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("DeleteConfirmed", "Author"))
            {
                <div class="modal-body" id="modal-body">

                    @Html.AntiForgeryToken()
                    <input data-val="true" type="number" name="id" id="modelID" value="0" hidden />
                    <p><h4>Bạn có muốn xóa <span class="text-danger" id="modelName"></span> ?</h4></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="deleteDetail">Xóa</button>

                </div>
            }
        </div>
    </div>
</div>

<!-- Create Modal-->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="far fa-edit"></i>
                Create or Edit
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="createForm">
                @Html.AntiForgeryToken()
                <div class="modal-body" id="modal-body">
                    <div class="form-horizontal">
                        <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" type="hidden" value="0">
                        <input id="pageNumber" type="hidden" value="0">

                        <div class="form-group">
                            <label class="control-label col-md-5" for="Name">Tên tác giả</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" required="required">
                                <span class="field-validation-valid text-danger" data-valmsg-for="CategoryName" data-valmsg-replace="true"></span>
                                <div class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-5" for="Description">Mô tả</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Description" name="Description" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5" for="Status">
                                <input type="checkbox" id="Status" name="Status" value="true">
                                Active
                            </label>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" id="saveData" value="Save">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


@section scripts {
    <script>
        (function () {
            $("#content-wrapper").off('click', '.open-delete-modal').on('click', '.open-delete-modal', function () {
                $("#deleteModal").modal('show');
                $("#modelID").val($(this).data("id"));
                $("#modelName").html($(this).data("name"));
            });
        })();
    </script>
}