@model IEnumerable<OrderVM>
@{
    ViewBag.Title = "Xem đơn hàng";
}

<h2>@ViewBag.Title.</h2>
<hr />

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ngày đặt hàng</th>
                <th>Địa chỉ nhận</th>
                <th>Điện thoại</th>
                <th>Hình thức thanh toán</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int count = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@count @{ count++; }</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.CustomerAddress</td>
                        <td>@item.CustomerMobile</td>
                        <td>@Extension.GetEnumDisplayName(item.PaymentMethod)</td>
                        <td>
                           @Extension.GetEnumDisplayName(item.Status)                            
                        </td>
                        <td>                            
                            @Ajax.ActionLink("Chi tiết", "GetOrderDetailPartial", new { @id = item.OrderId }
                                            ,new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "modal-detail" }
                                            ,new { @class = "btn btn-primary btn-order-detail" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td colspan="6" class="text-danger">Bạn chưa đặt đơn hàng nào</td>
                </tr>
            }
        </tbody>
    </table>

</div>

<!-- The Modal -->
<div class="modal fade" id="order-detail-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chi tiết hóa đơn</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="modal-detail">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section homeScript{
    <script>
        (function () {
            $(".btn-order-detail").off('click').on('click', function () {
                $("#order-detail-modal").modal('show');
            });
        })();
        
    </script>
}