@model Pagination.Pager

<div class="col-sm-12 col-md-5">
    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">

    </div>
</div>
<div class="col-sm-12 col-md-7">
    <!-- pager -->
    <ul class="pagination" id="paged">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                @Ajax.ActionLink("First", "Index", new { @search = ViewBag.SearchString, @page = 1 }
                                , new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "home" }, new { @class = "page-link" })
            </li>
            <li class="page-item">
                @Ajax.ActionLink("Previous", "Index", new { @search = ViewBag.SearchString, @page = Model.CurrentPage - 1 }
                                        , new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "home" }, new { @class = "page-link" })
            </li>
        }
        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active">
                    @Ajax.ActionLink(i.ToString(), "Index", new { @search = ViewBag.SearchString, @page = i }
                                            , new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "home" }, new { @class = "page-link" })
                </li>
            }
            else
            {
                <li class="page-item">
                    @Ajax.ActionLink(i.ToString(), "Index", new { @search = ViewBag.SearchString, @page = i }
                                            , new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "home" }, new { @class = "page-link" })
                </li>
            }
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                @Ajax.ActionLink("Next", "Index", new { @search = ViewBag.SearchString, @page = Model.CurrentPage + 1 }
                                        , new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "home" }, new { @class = "page-link" })
            </li>
            <li class="page-item">
                @Ajax.ActionLink("Last", "Index", new { @search = ViewBag.SearchString, @page = Model.TotalPages }
                                        , new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "home" }, new { @class = "page-link" })
            </li>
        }
    </ul>
</div>

