@model Pagination.IndexViewModel<OrderVM>

    <table class="table table-bordered" id="TableItems">
        <thead>
            <tr>
                <th>Khách hàng</th>
                <th>Địa chỉ</th>
                <th>SĐT</th>
                <th>Ngày đặt</th>
                <th>Hình thức</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.CustomerAddress</td>
                    <td>@item.CustomerMobile</td>
                    <td>@item.CreatedDate</td>
                    <td>@Extension.GetEnumDisplayName(item.PaymentMethod)</td>
                    <td class="item-status">
                        @Extension.GetEnumDisplayName(item.Status)
                    </td>
                    <td>
                        @if (item.Status != OrderStatus.Completed && item.Status != OrderStatus.Declined
                            && item.Status != OrderStatus.Deleted && item.Status != OrderStatus.Cancelled)
                        {
                            using (Html.BeginForm("ChangeOrderStatus", "Order", new { @id = item.OrderId }, FormMethod.Post, new { @class = "d-inline" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-outline-success btn-order-completed btn-sm">
                                    <i class="fas fa-check-circle"></i>
                                </button>
                            }
                        }
                        @Ajax.ActionLink(" ", "GetOrderDetailPartial", new { @id = item.OrderId }
                             , new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "modal-detail" }
                             , new { @class = "btn btn-outline-primary btn-order-detail btn-sm" })
                        <button class="btn btn-outline-secondary btn-sm" onclick="exportToPDF(@item.OrderId)"><i class="fas fa-print"></i></button>
                        @if (item.Status != OrderStatus.Declined && item.Status != OrderStatus.Deleted && item.Status != OrderStatus.Cancelled)
                        {
                            using (Html.BeginForm("DeleteOrder", "Order", new { @id = item.OrderId }, FormMethod.Post, new { @class = "d-inline" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-outline-danger btn-order-canceled btn-sm">
                                    <i class="fas fa-times-circle"></i>
                                </button>
                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

