
@using Microsoft.AspNet.Identity.EntityFramework;

@model IEnumerable<IdentityRole>

@{

    ViewBag.Title = "Quản lý quyền hạn người dùng";

}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Dashboard")">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">Quyền</li>
    <li class="breadcrumb-item active">Danh sách quyền hạn</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        @ViewBag.Title
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                @Html.ActionLink("Tạo role", "Create", null, new { @class = "btn btn-primary" })
                <br /><br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên quyền</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            @*@if (item.Id == "admin" || item.Id == "user")
                            {

                            }
                            else
                            {
                                <td>@Html.ActionLink("Xóa", "Delete", new { id = item.Id })</td>
                            }*@
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
